.shoppingmessage {
	height: 1.25rem;
	line-height: 1.25rem;
	padding-left: 1rem;
	color: #fff;
	background-color: #f79191;
    position: fixed;
    top:0;
    left: 0;
    z-index: 999;
    width:100%;
}
.shoppingmessage .msgMetion{
	display: inline-block;
	width: 0.388889rem;
}
.shoppingmessage .msgMetion > img{
	width: 100%;
}

.shoppingmessage .msgContent{
	position: relative;
	display: inline-block;
	width: 70%;
	margin-left: 0.2rem;
	margin-right: 0.2rem;
}

.shoppingmessage .msgClose{
	display: inline-block;
	width: 0.288889rem;
	/*float: right;*/
}
.shoppingmessage .msgClose > img{
	width: 100%;
}