.bannerContainer{
    width: 100%;
    padding-left: 60px;
    padding-right: 50px;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
}


.bannerContainer .longBanner {
    width: 636px;
    height:231px;
}

.bannerContainer .shortBanner {
    width:375px;
    height:231px;
}