.userLink {
	padding: 0 0.555556rem;
	border-bottom: 1px solid #e6e6e6;
	color: rgba(0,0,0,.8);
	height: 1.527778rem;
	line-height: 1.527778rem;
	background: #fff;
}
.userLink .actionName,
.userLink .orderDetailArrow {
	float: right;
	line-height: 1.527778rem;
}
.userLink .actionName {
	line-height: 1.555556rem;
}
.userLink .orderDetailArrow {
	margin-left: 0.138889rem;
	color: rgba(0,0,0,.5);
}