.customized1-modal{
    position: fixed;
    overflow: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}

.customized1-modal .ant-modal {
    top:0;
    box-sizing: border-box;
    width:100%!important;
    padding:90px;
}
.customized1-modal .ant-modal .ant-modal-body {
    line-height: 1;
    padding:0;
    position: relative;
    background-color: #FFFFFF;
}
.customized1-modal .ant-modal .ant-modal-content {
    height: 900px;
    background-color: #f2f2f2;
}
.customized1-modal .galleryWrapper {
    width:40%;
    float: left;
}
.customized1-modal .skuInfo{
    margin-left: 40%;
    width: 60%;
    padding: 1% 1%;
    padding-left: 76px;
    padding-right: 50px;
    position: relative;
    height: 900px;
}
