
.orderDetailStoreInfo{
    margin-bottom: 0.138889rem;
}
.orderDetailStoreInfo .phoneInfo ,.orderDetailStoreInfo .clockInfo{
    width:50%;
    display:inline-block
}

.orderDetailStoreInfo .clockInfo {
    border-right: 1px solid #e6e6e6;
}