.addContainer {
    position: absolute;
    bottom: 0.277778rem;
    right: 0.277778rem;
    width: 1.5rem;
    height: 1.5rem;
    background-color: #ffffff;
    border-radius: 1.5rem 0 0 0;
}
.add {
    position: absolute;
    bottom: 0.207778rem;
    right: 0.277778rem;
    /*bottom: 0.177778rem;*/
    /*right: 0.177778rem;*/
    width: 0.833333rem;
    height: 0.833333rem;
    border-radius: 0.416667rem 0.416667rem 0 0.416667rem;
    background: #ff7860;
    color: #fff;
    text-align: center;
    line-height: 0.84rem;
}

.add>img{
    width: 70%;
    height:70%;
}

