.headerButton {
	position: absolute;
	top: 1.180556rem;
	left: 0;
	width: 100%;
	height: 1.180556rem;
	line-height: 1.180556rem;
	background-color: rgba(37, 49, 101, 50);
	padding: 0 0.416667rem;
	box-sizing: border-box;
	color: #fff;
}
.headerButton .logo {
	width: 1.833333rem;
	vertical-align: middle;
}
.headerButton .button {
	position: absolute;
	top: 50%;
	right: 0.416667rem;
	transform: translate(0, -50%);
	width: 2.027778rem;
	height: 0.583333rem;
	line-height: 0.583333rem;
	border-radius: 0.291667rem;
	color: #fff;
	border: 1px solid #fff;
	text-align: center;
}