.loading{
    position: absolute;
    top:30%;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 0;
    text-align: center;
}
.loading .text{
    color: #999;
    margin-top: 40px;
    position: relative;
    /*font-family: initial;*/
}