.selector {
	/*width: 16.66666%;*/
	width: 80%;
	text-align: center;
	display: inline-block;
	cursor: pointer;
    position: relative;
}
.selector .itemIcon {
	display: block;
	/*width: 0.972222rem;*/
	/*height: 0.972222rem;*/
	/*color: #71ccf2;*/
	/*margin: 0 auto;*/
	width: 100%;
}

.selector .itemIcon img{
	/*width: 1.555556rem;*/
	/*height: 1.555556rem;*/
	width: 100%;
	/*transition: all 1s;*/
	/*-moz-transition: all 1s; !* Firefox 4 *!*/
	/*-webkit-transition: all 1s; !* Safari 和 Chrome *!*/
	/*-o-transition: all 1s;*/
}

.selector .itemIcon.activated img{
	transform: scale(1.4);
}



.selector .itemName {
	/*display: block;*/
	color: rgba(255,255,255,.8);
	/*margin-top: 0.261111rem;*/
	/*line-height: 1;*/
	position: absolute;
	width: 100%;
	text-align: center;
	bottom: 0;
	padding: 0.0867rem 0;
	left: 0;
	border: 1px solid transparent;
	/* background: #ff0; */
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	box-sizing: border-box;
	/*color: #fff;*/
}

.selector .itemName.activated{
	background-color: #ff7860;
}

.selector .itemName.activated:after{
	content: '';
	position: absolute;
	border:2px solid #ff7860;
	bottom: -0.3rem;
	width: 50%;
	left: 0;
	right: 0;
	margin: auto;
}

.selector .triangle {
    display: none;
    width: 100%;
    height: 0;
}
.selector .triangle:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border: 0.305556rem solid transparent;
    border-bottom: 0.305556rem solid #c7e8ef;
    /*top: -0.58rem;*/
    left: 0.472222rem;
}
.selector .triangle.activated{
    display: block;
}