
.state_info.get_fail .button{
    width: 100%;
    background-color: #fa7c73;
    color: #fff4f4;
    text-align: center;
    line-height: 1rem;
    border-radius: 26px;
    margin: 1rem 0;
    opacity: 0;
}