.homeMade {
	width: 100%;
	position: relative;
}
.homeMade .homeMadeImg {
	width: 100%;
}
.homeMade .content {
	position: absolute;
	top: 0.472222rem;
	left: 0.388889rem;
}
.homeMade .content h1 {
	color: #000;
	margin-bottom: 0.277778rem;
}
.homeMade .content p {
	color: rgba(0,0,0,.8);
}