.orderProductInfo .productInfo {
    padding: 0.347222rem 0.555556rem;
    border-bottom: 1px solid #e6e6e6;
}
.orderProductInfo .productImg {
    width:1.388889rem;
    background: #ccc;
    vertical-align: middle;
}
.orderProductInfo .orderProductContainer {
    display:inline-block;
    width:50%;
    margin-left:0.583333rem;
    vertical-align:middle;
}
.orderProductContainer p {
    margin:0 0 0.097222rem 0;
}
.orderProductContainer .productDesc {
    margin:0 0 0.194444rem 0;
}
.orderProductContainer .productTaste {
    color: rgba(0,0,0,.6);
}
.orderProductContainer p:last-child {
    margin-bottom: 0;
}
.orderProductInfo span {
    vertical-align: middle;
}
.orderProductInfo .unitPrice,
.orderProductInfo .quantity {
    float: right;
    line-height: 1.527778rem;
    color: #2db9ed;
}
.orderProductInfo .quantity i {
    font-style: normal;
    display: inline-block;
    text-align: center;
    padding: 0 0.138889rem;
}