.skuIntro{
    width: 100%;
    margin-top: 25px;
}

.skuIntro .sub_benefit>span{
    line-height: 50px;
    display: inline-block;
    text-align: center;
    margin-right: 16px;
}

.skuIntro .square_border{
    width: 100px;
    border-radius: 10px;
    border:2px solid rgba(0,0,0,.6);
}

.skuIntro .ovals_border{
    width: 227px;
    border-radius: 0.694444rem;
    border:2px solid rgba(0,0,0,.6);
}
.skuIntro .sub_compaign{
    margin-top:16px;
    border:1px solid #f9b27d;
    background-color: #f9b27d;
    border-radius: 10px;
    color: #fff;
    line-height: 68px;
    text-align: center;
    font-weight: 600;
    width: 70%;
}