.brandContainer {
    width: 100%;
}

.iteminfo{
    padding: 0.138889rem;
    padding-bottom: 0;
}
.iteminfo ul>li{
    margin-right: 0.138889rem;
    margin-bottom: 0.138889rem;
    width: 49.1%;
    float: left;
    display: inline-block;
    box-sizing: border-box;
    border: 0.013889rem solid #d9d9d9;
    background-color:#fff;
    padding: 0 0.277778rem 0.277778rem 0.416667rem;
    overflow: hidden;
}
.iteminfo ul>li:nth-child(2n){
    margin-right: 0;
}
.button{
    background-color: #ff7860;
    border:1px solid #ff7860;

    text-align: center;
    height: 25px;
    display: inline-block;
    color: #fff;
    line-height: 24px;
}