.bigButton {
    width: 100%;
    border-radius: 5px;
    height: 54px;
    line-height: 54px;
    font-size: 16px;
    margin:10px auto;
    text-align: center;
    cursor: pointer;
}
.bigButton.paySuccess {
    background: #5D9DFD;
    color: #fff;
}
.bigButton.payFailed {
    background: #ccc;
    color: #000;
}