.headerContainer {
    position: fixed;
    top: 0;
    z-index: 99;
    width: 100%;
}
.homeHeader {
	position: relative;
	width: 100%;
	height: 1.2rem;
	line-height: 1.180556rem;
	background-color: #fa7c73;
	padding: 0 0.416667rem;
	box-sizing: border-box;
}
.homeHeader .logo {
	/*width: 1.833333rem;*/
	vertical-align: middle;
    width: 35%;
}

.homeHeader .button {
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	width: 0.611111rem;
	height: 0.611111rem;
	line-height: 0.611111rem;
	border-radius: 50%;
	color: #fff;
	border: 1px solid #fff;
	text-align: center;
}
.homeHeader .login {
	right: 0.416667rem;
    display: none;
}
.homeHeader .search {
	right: 1.416667rem;
    display: none;
}

.shopBar {
    height: 1.180556rem;
    /*background-color: #1e2751;*/
    /*opacity: 0.5;*/
    padding: 0 0.416667rem;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    z-index: 999;
    background: rgba(0,0,0,.3);
}

.shopBar .shopAddress {
    color: #FFFFFF;
    height: 1.180556rem;
    line-height: 1.180556rem;
}

.shopBar .switchShopBtn {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 0.46rem;
    color: #FFFFFF;
    opacity: 0.9;
    width: 2rem;
    height: 0.6rem;
    line-height: 0.6rem;
    text-align: center;
    border-radius: 1.180556rem;
    border: 1px solid #FFFFFF;
}