.orderDetailProductListContainer{
    background-color: #FFFFFF;
}
.orderDetailProductListContainer>p {
    text-align: right;
    padding: 0.555556rem;
}
.orderDetailProductListContainer>p span {
	margin-left: 0.722222rem;
}

.orderDetailProductListContainer .contexts {
    border-bottom: 1px solid #e6e6e6;
    color: #999999;
    padding-top: 0.555556rem;
    padding-right: 0.55556rem;
    text-align: right;
    line-height: 0.5555556rem;
}
.orderDetailProductListContainer .contexts>p>span{
    margin-right: 0.233333rem;
}

.orderDetailProductListContainer .quantity,
.orderDetailProductListContainer .unitPrice{
    color: #000000;
}
.orderDetailProductListContainer .totalArea {
    padding: 0.5rem;
    border-bottom: 1px solid #e6e6e6;
}
.orderDetailProductListContainer .productCost {
    font-style: normal;
    color: #5D9DFD;
}
.orderDetailProductListContainer .totalArea .accountDisplay>span:first-child{
    text-align: left;
}
.orderDetailProductListContainer .totalArea .accountDisplay>span:last-child{
    color:#ff0000;
}
.orderDetailProductListContainer .orderProductInfo .productInfo{
    padding: 0.247222rem 0.555556rem;
}
.orderDetailProductListContainer .orderProductInfo .productInfo .productImg{
    border:none;
}
.orderDetailProductListContainer .productInfo-total-money{
    color: #ff0000;
}
.orderDetailProductListContainer .newInfos .newInfo-title{
    line-height: 1rem;
    margin-left: 0.486111rem;
    font-size: 14px;
    border-bottom: 1px dashed #e6e6e6;
    /* border-style: dashed; */
    box-sizing: border-box;
}