.brandContainer {
    width: 100%;
}
.storeinfo{
    background: #fff;
    width: 100%;
    /*padding: 45px 40px;*/
    overflow: hidden;
}
.storeinfo>p{
    font-size: 0.2778rem;
    line-height: 0.4167rem;
    margin: 0.556rem;
}
ul>li:last-child{
    margin-bottom: 0.2778rem;;
}