.orderListContaier {
    margin-bottom: 0.138889rem;
    background-color: #fff;
}
.orderListContaier .orderListTitle {
    padding: 0.416667rem 0.694444rem 0.416667rem 0.555556rem;
    border-bottom: 1px solid #e6e6e6;
}
.orderListContaier .orderListTitle img {
    width: 1.0rem;
    height: 1.0rem;
    border-radius: 50%;
    background-color: #ccc;
    margin-right: 0.333333rem;
    vertical-align: middle;
}
.orderListContaier .orderListTitle span {
    line-height: 1;
    vertical-align: middle;
}
.orderListContaier .orderListTitle .orderStatus {
    float: right;
    line-height: 1.0rem;
}
.orderListContaier .orderListTitle .orderStatus.orderComplete {
    color: #333333;
}
.orderListContaier .orderListTitle .orderStatus.orderUnComplete {
    color: #ee735a;
}
.orderListContaier .orderListInfo {
    padding: 0.555556rem 0.694444rem 0.555556rem 0.555556rem;
}
.orderListContaier .orderListInfo p {
    margin-bottom: 0.444444rem;
}
.orderListContaier .orderListInfo .orderCost {
    color: #2db9ed;
}
.orderListContaier .orderListInfo .orderDate {
    float: right;
    color: rgba(0,0,0,.8);
}