.orderItem{
    position: relative;
    border-bottom: 1px solid #ccc;
    height: 2rem;
}
.orderItem .orderAction{
    margin: 0.556rem 0;
    margin-right: 0.556rem;
}

.orderItem>.orderInfo{
    margin: 0.3rem 0;
    margin-left: 0.556rem;
}
.orderAction>div:first-child{
    border:1px solid #cecece;
    border-radius: 12px;
    width: 2.403rem;
    height: 0.805rem;
    line-height: 0.805rem;
    text-align: center;
    margin-right: 0.15rem;
}
.orderItem .fl>div{
    line-height: 0.7rem;
}
.orderAction>div:nth-child(2){
    margin-top: 0.15rem;
    color:#929292;
}
.white{
    color:#fff;
}
.black{
    color:#000;
}
.blue{
    color:#b9e8f9;
}
.fr{
    float: right;
}

.fl{
    float: left;
}
