.bigButton {
	width: 100%;
	border-radius: 0.5rem;
	height: 1.0rem;
	line-height: 1.0rem;
	margin:0.138889rem auto;
	text-align: center;
	cursor: pointer;
}
.bigButton.paySuccess {
	background: #eb5d41;
	color: #fff;
}
.bigButton.payFailed {
	background: #ffffff;
	color: #000;
}
.bigButton.disabled {
	background: grey!important;
	color: #000!important;
}