.active_itemContainer{
    width: 100%;
    position: relative;
    padding-left: 28px;
}
.active_itemContainer .swiper-slide {
    margin-right: 20px;
    width: 305px!important;
}
.font25{
    font-size: 25px!important;
}