.selectorContainer {
	height: 200px;
	width: 100%;
    padding-left: 60px;
    border-bottom: 4px solid black;
}
.selector {
	width: 10%;
	text-align: center;
	display: inline-block;
	cursor: pointer;
}
.selector .itemIcon {
	display: block;
	width: 0.972222rem;
	height: 0.972222rem;
	color: #71ccf2;
	margin: 0 auto;
}
.selector .itemName {
	display: block;
    opacity: 0.8;
	color: #000000;
	margin-top: 0.261111rem;
	line-height: 1;
}