.selectorContainer {
	height: 200px;
	width: 100%;
    padding-left: 60px;
    border-bottom: 6px solid #ffb66e;
	padding-top: 50px;
}
.selector {
	width: 10%;
	text-align: center;
	display: inline-block;
	cursor: pointer;
}
.selector .itemIcon {
	display: block;
	width: 0.972222rem;
	height: 0.972222rem;
	color: #71ccf2;
	margin: 0 auto;
	transition: all 1s;
}
.selector .itemName {
	display: block;
    opacity: 0.8;
	color: #000000;
	margin-top: 0.261111rem;
	line-height: 1;
}

.selector:hover{
	transform: scale(1.2);
}

.selector.active{
	transform: scale(1.2);
}