.bottomBar{
    position: fixed;
    height: 70px;
    background: #fff;
    width: 100%;
    bottom: 0;
    line-height: 70px;
    z-index: 999;
}
.bottomBar span {
    display: inline-block;
}
.bottomBar span:first-child {
    text-indent: 30px;
    width: 60%;
    box-sizing: border-box;
    font-size: 18px;
}
.bottomBar span:first-child em {
    font-style: normal;
    padding: 0 8px;
    font-size: 22px;
    color: #42c0ef;
}
.bottomBar span:first-child i {
    font-size: 18px;
    color: #42c0ef;
    font-style: normal;
}
.bottomBar .button.settleButton {
    float: right;
    width: 40%;
    background: #eb5d41;
    height: 100%;
    line-height: 70px;
    font-size: 18px;
    color: #fff;
    border:none;
}