.cart-item {
    float:left;
    margin:0 9px 18px 9px;
    padding:20px 40px;
    width:276px;
    height:456px;
    border:1px solid #d9d9d9;
    border-radius:4px;
    background:#fff;
    box-sizing: border-box;
}

.cart-item .categoryName{
    margin-top: 9px;
}

.item-pic {
    margin:0 auto;
    width:100%;
    max-height:200px;
    overflow:hidden;
}
.item-pic img {
    display:block;
    margin:0 auto;
    width:100%;
}

.item-name {
    margin:10px 0 6px;
    width:100%;
    display: block;
}
.item-name span {
    display:inline-block;
    width:100%;
    font-size:23px;
    line-height:26px;
    color:#343434;
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
}

.item-price {
    margin-bottom:22px;
    overflow:hidden;
}
.final-price {
    /*display:block;*/
    float:left;
    /*margin-right:5px;*/
    font-size:28px;
    color:#28abef;
    display: inline-block;
    margin-right: 20px;
}
.market-price {
    display:inline-block;
    /*float:left;*/
    margin-top:8px;
    font-size:16px;
    color:#a3a3a3;
    text-decoration:line-through;
}

.item-panel {
    overflow:hidden;
}

.counting {
    float:left;
    margin-right: 24px;
}
.undershop{
    line-height: 50px;
    color: #f7ce14;
}
.btn-minus, .btn-plus {
    display:block;
    float:left;
    width:40px;
    height:48px;
    border:1px solid #dedede;
    text-indent:-9999px;
    cursor:pointer;
}
.btn-minus {
    background:url(images/icon-minus.png) 50% 50% no-repeat #f0f0f0;
    border-radius:50px 0 0 50px;
}
.btn-plus {
    background:url(images/icon-plus.png) 50% 50% no-repeat #f0f0f0;
    border-radius:0 50px 50px 0;
}
.quantity {
    display:block;
    float:left;
    padding:0 4px;
    width:40px;
    height:48px;
    font-size:18px;
    line-height:48px;
    color:#343434;
    border-top:1px solid #dedede;
    border-bottom:1px solid #dedede;
    border-left:none;
    border-right:none;
    background:#fff;
    text-align: center;
}
.trash {
    display:block;
    float:right;
    width:50px;
    height:50px;
    background:url(images/icon-trash.png) 50% 50% no-repeat;
    text-indent:-9999px;
    cursor:pointer;
}

.cart-total-tag {
    position:absolute;
    right:140px;
    top:-35px;
    width:220px;
    height:70px;
    background:#ff7860;
    box-shadow:-5px 5px 30px 2px rgba(0,0,0,.3);
    border-radius:70px 70px 0 70px;
}
.items-num {
    position:absolute;
    left:20px;
    top:10px;
    width:50px;
    height:50px;
    background:url(images/icon-bag.png) left top no-repeat;
}
.num {
    position:absolute;
    right:-7px;
    top:-2px;
    padding:0 4px;
    min-width:20px;
    height:28px;
    line-height:28px;
    border-radius:20px;
    font-size:14px;
    text-align:center;
    background:#fff;
    color:#ff7860;
    border:3px solid #ff7860;
}
.current-price {
    position:absolute;
    left:90px;
    top:20px;
    font-size:18px;
    color:#fff;
}
.current-price em {
    font-size:36px;
}

.cart-item .layer{
    position: absolute;
    width: 100%;
    height: 90%;
    left: 0;
    top: 0;
    background: rgba(255,255,255,.6);
    padding: 20px 40px;
    margin: 0 9px 18px 9px;
}
.cart-item .layer .dialog{
    position: absolute;
    width: 100%;
    height: 55%;
    top: 50%;
    background-color: #FFFFFF;
    left: 0;
}
.cart-item .layer .dialog .del{
    position: absolute;
    width: 100%;
    text-align: center;
    color: #333;
    bottom:60%;

}
.cart-item .layer .dialog .btn{
    position: absolute;
    width: 100%;
    padding: 0 20px;
    bottom: 15%;

}
.cart-item .layer .dialog .btn>div{
    border:1px solid #e1e1e1;
    height: 50px;
    width: 80px;
    border-radius: 20px;
    color: #666;
    line-height:50px;
    display: inline-block;
    text-align: center;
    margin: 0 18px;


}

