.accountDisplay {
	margin: 0;
	line-height: 0.833333rem;
	text-align: right;
	/*padding-right: 0.55556rem;*/
}
.accountDisplay .money{
	width: 20%;
	display: inline-block;
}
.accountDisplay .name {
	/*float: right;*/
	width: 80%;
	display: inline-block;
}
/*.accountDisplay .money {*/
	/*margin-left: 0.555556rem;*/
/*}*/