.brandContainer {
    width: 100%;
}

.button{
    background-color: #ff7860;
    border:1px solid #ff7860;

    text-align: center;
    height: 25px;
    display: inline-block;
    color: #fff;
    line-height: 24px;
}