.productClass {
	width: 100%;
	padding: 0.75rem 0 0.583333rem;
}
.productClass .item {
	width: 16.66666%;
	text-align: center;
	display: inline-block;
}
.productClass .item .itemIcon {
	width: 0.972222rem;
	height: 0.972222rem;
	color: #71ccf2;
}
.productClass .item .itemName {
	color: rgba(0,0,0,.8);
	margin-top: 0.361111rem;
	line-height: 1;
}