.item {
    float: left;
    position: relative;
    margin: 0;
    text-align: center;
    padding: 0.833333rem 0.583333rem 0.486111rem;
    box-sizing: border-box;
    border: 1px solid #d9d9d9;
	background-color: #fff;
}
.item.sliderItem {
	border-right: none;
	border-top: none;
	height: 4.652778rem;
	float: none;
}
.item.commonItem {
	float: left;
	margin: 0.138889rem 0 0 0.138889rem;
	padding: 1.0rem 0.555556rem 0.416667rem 0.555556rem;
	width: 48%;
}

.commonItem .productImg {
	margin-bottom: 0.527778rem;
	width: 100%;
	height: 100%;

}

.sliderItem .productImg {
	margin-bottom: 0.527778rem;
	width: 40%;
	height: 40%;

}
.brandProductContainer {
	text-align: left;
}
.brandProductContainer .productName {
	color: rgba(0,0,0,.8);
	margin-bottom: 0.166667rem;
	display: none;
}
.item.commonItem .brandProductContainer .productName {
	display: block;
}
.brandProductContainer .productDesc {
    width: 150px;
	color: rgba(0,0,0,.9);
	margin-bottom: 0.277778rem;
	line-height: 1.5;
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
}
.brandProductContainer .categoryName {
	color: rgba(0,0,0,.6);
	margin-bottom: 0.388889rem;
	display: none;
}
.item.commonItem .brandProductContainer .categoryName {
	display: block;
}
.item .unitPrice {
	display: block;
	color: #2db9ed;
	text-align: left;
}