.item {
    float: left;
    position: relative;
    margin: 0;
    text-align: center;
    /*padding: 0.833333rem 0.583333rem 0.486111rem;*/
	padding:20px 35px;
    box-sizing: border-box;
    border: 1px solid #d9d9d9;
	background-color: #fff;
}
.item.sliderItem {
    width:276px;
    height:352px;
	/*border-right: none;*/
	/*border-top: none;*/
	float: none;
    margin-right:15px;
    text-align: left;
	box-sizing: border-box;
	display: inline-block;
}
.item.commonItem {
	float: left;
	margin: 0.138889rem 0 0 0.138889rem;
	padding: 1.0rem 0.555556rem 0.416667rem 0.555556rem;
	width: 48%;
}

.commonItem .productImg {
	margin-bottom: 0.527778rem;
	width: 100%;
	height: 100%;
}

.sliderItem .productImg {
    /*margin-bottom: 30px;*/
    /*width:120px;*/
    height:205px;
    /*margin-left: 30px;*/
    /*padding:30px;*/
    /*width:100%;*/
	overflow: hidden;


}
.brandProductContainer {
	text-align: left;
	white-space: nowrap;
}
.brandProductContainer .productName {
	color: rgba(0,0,0,.8);
	margin-bottom: 5px;
}
.item.commonItem .brandProductContainer .productName {
	display: block;
}
.brandProductContainer .productDesc {
    width: 200px;
	color: rgba(0,0,0,.9);
	margin-bottom: 10px;
	/*line-height: 1.5;*/
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
}
.brandProductContainer .categoryName {
	color: rgba(0,0,0,.6);
	margin-bottom: 10px;
}
.item.commonItem .brandProductContainer .categoryName {
	display: block;
}

.item .oldPrices{
	font-size: 18px;
	position: absolute;
	bottom: 12px;
	text-align: center;
	left: 124px;
	text-decoration: line-through;
	color: rgba(0,0,0,.6);
}

.item .unitPrice {
	display: block;
	color: #2db9ed;
	text-align: left;
	position: absolute;
	bottom: 12px;
}

.item .add{
	line-height: 52px;
	font-weight: bold;
}

.item .soldOut{
	position: absolute;
	bottom: 10px;
	right: 20px;
	width: 72px;
	height: 32px;
	text-align: center;
	line-height: 32px;
	font-size: 22px;
	color: #999;
	border: 1px solid #999;
	border-radius: 5px;
}

.imageContainer {
	/*position: relative;*/
}

.imageContainer .J_animate {
	/*position: absolute;*/
	/*left:0;*/
    /*top:0;*/
    /*z-index: 99999;*/
}
.fly{
    animation:flyright 5s
}
@keyframes flyright {
    from {
        left: 0;
        top:0;
    }
    to {
        top:1500px;
        left:1500px;
    }
}