.item {
    float: left;
    position: relative;
    margin: 0;
    text-align: center;
    padding: 0.833333rem 0.583333rem 0.486111rem;
    box-sizing: border-box;
    border: 1px solid #d9d9d9;
	background-color: #fff;
}
.item.sliderItem {
	border-right: none;
	border-top: none;
	height: 4.652778rem;
	float: none;
}
.item.commonItem {
	float: left;
	margin: 0.138889rem 0 0 0.138889rem;
	padding: 1.0rem 0.555556rem 0.416667rem 0.555556rem;
	width: 48%;
    height:7rem;
}

.item .LazyLoad {
    margin-bottom: 0.527778rem;
    height:45%;
}

.commonItem .productImg {
	margin-bottom: 0.527778rem;
	width: 90%;
	height: 100%;
	object-fit: cover;
}

.commonItem .productImg.contain {
	margin-bottom: 0.527778rem;
	width: 90%;
	height: 100%;
	object-fit: contain;
}

.sliderItem .productImg {
	margin-bottom: 0.527778rem;
	width: 40%;
	height: 45%;
	object-fit: contain;

}
.brandProductContainer {
	text-align: left;
}
.brandProductContainer .productName {
	color: rgba(0,0,0,.8);
	margin-bottom: 0.166667rem;
	display: none;
}
.item.commonItem .brandProductContainer .productName {
	display: block;
}
.brandProductContainer .productDesc {
    width: 150px;
	color: rgba(0,0,0,.9);
	margin-bottom: 0.217778rem;
	line-height: 1;
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
}
.brandProductContainer .categoryName {
	color: rgba(0,0,0,.6);
	margin-bottom: 0.388889rem;
	display: none;
}
.item.commonItem .brandProductContainer .categoryName {
	display: block;
}
.item .unitPrice {
	display: block;
	color: #2db9ed;
	text-align: left;
}

.item .soldOut {
    display: inline-block;
    width:1.2rem;
    height:0.555556rem;
    line-height: 0.555556rem;
    color: #000000;
    /*background-color: #eeeeee;*/
    opacity: 0.6;
    text-align: center;
    position: absolute;
    bottom: 0.66666666rem;
    right: 0.277778rem;
    border-radius: 0.05rem;
	border: 1px solid #aaa;
}