.orderDetailContainer {
    width: 100%;
}
.orderDetailContainer .buttonArea {
    padding: 0.222222rem 0;
    text-align: center;
    border-bottom: 1px solid #e6e6e6;
}
.bigButton.confirmPickUp {
    width: 3.138889rem;
    height: 1.055556rem;
    line-height: 1.055556rem;
    border-radius: 0.527778rem;
    background: #eb5d41;
    color: #fff;
    margin: 0 auto;
}
.orderDetailContainer>div {
    background-color: #fff;
}
.orderDetailContainer .orderDetailTitle {
    padding: 0.486111rem 0.555556rem;
    margin-bottom: 0.138889rem;
    
}
.orderDetailContainer .orderDetailTitle .fa-th-large {
    color: #929292;
}
.orderDetailContainer .orderDetailTitle .orderAddress {
    color: #000;
    margin-left: 0.555556rem;
}
.orderDetailContainer .orderDetailTitle .fa-th-large,
.orderDetailContainer .orderDetailTitle .orderAddress {
    line-height: 24px;
}
[data-dpr='2'] .orderDetailContainer .orderDetailTitle .fa-th-large,
[data-dpr='2'] .orderDetailContainer .orderDetailTitle .orderAddress {
    line-height: 48px;
}
[data-dpr='3'] .orderDetailContainer .orderDetailTitle .fa-th-large,
[data-dpr='3'] .orderDetailContainer .orderDetailTitle .orderAddress {
    line-height: 72px;
}

.orderDetailContainer .orderDetailTitle .orderAddressArrow {
    float: right;
}
.orderDetailContainer .orderDetailTitle .orderStatus.orderComplete {
    color: green;
}
.orderDetailContainer .orderDetailTitle .orderStatus.orderUnComplete {
    color: red;
}
.orderDetailContainer .orderDetailInfo {
    position: relative;
    line-height: 1;
    padding:0.625rem 0.555556rem;
    border-bottom: 1px solid #e6e6e6;
    color: #191919;
}
.orderDetailContainer .orderStatus {
    margin-bottom: 0.097222rem;
}
.orderDetailContainer .orderDetailInfo span:last-child {
    position: absolute;
    top: 50%;
    left: 3.777778rem;
    transform: translate(0,-50%);
}