.bottomBar{
    position: fixed;
    height: 1.527778rem;
    background: #fff;
    width: 100%;
    bottom: 0;
    line-height: 1.527778rem;
    z-index: 999;
}
.bottomBar span {
    display: inline-block;
}
.bottomBar span:first-child {
    text-indent: 0.555556rem;
    width: 60%;
    box-sizing: border-box;
}
.bottomBar span:first-child em {
    font-style: normal;
    color: #42c0ef;
}
.bottomBar span:first-child i {
    color: #42c0ef;
    font-style: normal;
}
.bottomBar .button.settleButton {
    float: right;
    width: 40%;
    background: #eb5d41;
    height: 100%;
    line-height: 1.527778rem;
    color: #fff;
    border:none;
}