.timer{
    width: 2.375rem;
    height: 1.5rem;
    color: #fff;
    background: #fa7c73;
    border:1px solid #fa7c73;
    border-radius: 20px 20px 0 20px;
    position: fixed;
    right:0.5rem;
    bottom: 1rem;
    overflow: hidden;
}
.timer:after{
    content:'';
    background: url(./image/cart.png) 0 0 no-repeat;
    width: 0.736rem;
    height: 0.681rem;
    position: absolute;
    background-size: 100% 100%;
    top:0.4rem;
    left: 0.4rem;
}
.timer .number{
    width: 0.4rem;
    height: 0.4rem;
    border: 1px solid #fff;
    border-radius: 0.4rem;
    background: #fff;
    color: #fa7c73;
    position: absolute;
    top:0.3rem;
    left: 0.88rem;
    text-align: center;
    line-height: 0.3333rem;
}
.timer .lasttime{
    font-size: 0.2222rem;
    position: absolute;
    top:40%;
    right: 0.1rem;
    text-align: center;
}
.timer .lasttime>p:last-child{
    font-size: 0.3rem;
    line-height: 0.4rem;
}