.homeheader{
    position: relative;
    background: #fff;
    /*padding: 40px;*/
    width: 100%;
    border-bottom: 1px solid #ccc;
}
.homeheader img{
    width: 1.695rem;
    height: 1.806rem;
    vertical-align: middle;
    margin: 0.556rem;
}

.homeheader .name{
    /*margin: 40px;*/
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    margin-right: 0.556rem;


}
.homeheader .name>p:first-child{
    font-size: 0.4167rem;
}
.homeheader .name>p:last-child{
    line-height: 0.528rem;
    font-size: 0.2778rem;
}
.homeheader .button{
    display: inline-block;
    width: 3.0556rem;
    /*height: 70px;*/
    border-radius: 25px;
    border: 1px solid #fa7c73;
    background: #fa7c73;
    color: #fff;
    text-align: center;
    /*display: table-cell;*/
    line-height: 40px;
    overflow: hidden;
    vertical-align: middle;
}
