.selector {
	width: 16.66666%;
	text-align: center;
	display: inline-block;
	cursor: pointer;
    position: relative;
}
.selector .itemIcon {
	display: block;
	width: 0.972222rem;
	height: 0.972222rem;
	color: #71ccf2;
	margin: 0 auto;
}

.selector .itemIcon img{
	width: 100%;
}

.selector .itemName {
	display: block;
	color: rgba(0,0,0,.8);
	margin-top: 0.261111rem;
	line-height: 1;
}

.selector .triangle {
    display: none;
    width: 100%;
    height: 0;
}
.selector .triangle:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border: 0.305556rem solid transparent;
    border-bottom: 0.305556rem solid #c7e8ef;
    /*top: -0.58rem;*/
    left: 0.472222rem;
}
.selector .triangle.activated{
    display: block;
}