.headerContainer{
    position: relative;
    width: 100%;
    height: 126px;
    padding: 22px 50px 19px 60px;
    background-color: #fff;
    box-sizing: border-box;
}
.fl {
    position: absolute;
    left:60px;
}

.fr{
    position: absolute;
    right:50px;
}

.headerContainer .button {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 0.611111rem;
    height: 0.611111rem;
    line-height: 0.611111rem;
    border-radius: 50%;
    color: #fff;
    border: 1px solid #fff;
    text-align: center;
}

.headerContainer .logo {
    margin-right: 30px;
    vertical-align: middle;
}

.headerContainer .location {
    position: absolute;
    top:35%;
    width:288px;
    line-height:50px;
    height:50px;
    /*background-color: #e76147;*/
    /*border-radius: 288px;*/
    text-align: center;
    color: #666;
    border-left: 1px solid #ff7860;
}
.headerContainer .location>img {
    margin-right: 15px;
    vertical-align: middle;
}

.headerContainer .login{
    position: absolute;
    right:287px;
    width: 207px;
    height: 74px;
    line-height: 74px;
    text-align: center;
    color: #D08B14;
    background-color: #FFC85F;
    border-radius: 207px;
}

.headerContainer .login .login_logo {
    vertical-align: middle;
    margin-right: 15px;
    margin-bottom: 10px;
}

.headerContainer .contact{
    position: absolute;
    right: 390px;
    top: 27px;
    height: 74px;
    width: 300px;
}
.headerContainer .contact>img{
    display: inline-block;
    height: 100%;
}
.headerContainer .contact .text{
    display: inline-block;
    margin-left: 10px;
    transform: translate(0px,-14px);
    line-height: 25px;
}
.headerContainer .contact .text>p:last-child{
    color: #ff7860;
}