.headerContainer{
    position: relative;
    width:100%;
    height:130px;
    padding:27px 50px 19px 60px;
    /*background-color: #e71234;*/
    box-sizing: border-box;
}
.fl {
    position: absolute;
    left:60px;
}

.fr{
    position: absolute;
    right:50px;
}

.headerContainer .button {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 0.611111rem;
    height: 0.611111rem;
    line-height: 0.611111rem;
    border-radius: 50%;
    color: #fff;
    border: 1px solid #fff;
    text-align: center;
}

.headerContainer .logo {
    margin-right: 30px;
    vertical-align: middle;
}

.headerContainer .location {
    position: absolute;
    top:35%;
    width:288px;
    line-height:50px;
    height:50px;
    background-color: #e76147;
    border-radius: 288px;
    text-align: center;
    color: white;
}

.headerContainer .login{
    position: absolute;
    right:287px;
    width: 207px;
    height: 74px;
    line-height: 74px;
    text-align: center;
    color: #D08B14;
    background-color: #FFC85F;
    border-radius: 207px;
}

.headerContainer .login .login_logo {
    vertical-align: middle;
    margin-right: 15px;
    margin-bottom: 10px;
}

.headerContainer .cart {
    position: absolute;
    top:27px;
    right: 50px;
    width: 207px;
    height: 74px;
    line-height: 74px;
    border-radius: 207px 207px 0 207px;
    background-color: #e76147;
    color: #fff;
    text-align: center;
    z-index: 999;
}