/*.vertical-center-modal {*/
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
/*}*/

/*.vertical-center-modal .ant-modal {*/
    /*top: 0;*/
    /*width: 1015px !important;*/
/*}*/

/*.vertical-center-modal .ant-modal .ant-modal-content {*/
    /*height: 550px;*/
    /*background-color: #f2f2f2;*/
    /*padding:0 100px;*/
/*}*/

/*.vertical-center-modal .alertTitle {*/
    /*color: #ff7860;*/
/*}*/

/*.vertical-center-modal .alertDes {*/
    /*color: black;*/
/*}*/

/*.vertical-center-modal .alertBtn {*/
    /*width:380px;*/
    /*height:100px;*/
    /*line-height: 100px;*/
    /*text-align: center;*/
    /*border-radius: 120px;*/
    /*border:1px solid #e5e5e5;*/
    /*color: #666666;*/
    /*display: inline-block;*/
/*}*/
.cartItemContainer .campaignContainer{
    width:100%;
    position: relative;
    padding-left:18px;
    margin-right:35px;
}
.cartItemContainer .campaignContainer .campaignTag{
    position: absolute;
    left:-5px;
    top:0;
    z-index: 1;
    height:325px;
    width:33px;
    color: #ffffff;
    padding-top:40px;
    writing-mode: tb;
    padding-right: 5px;
}
.cartItemContainer .campaignContainer .campaignTag.activate {
    background: url("./img/campaignTagActivate.png") no-repeat;
}
.cartItemContainer .campaignContainer .campaignTag.fail {
    background: url("./img/campaignTagFail.png") no-repeat;
}
.cartItemContainer .swiper-slide {
    width:auto!important;
}